{% load static %}
<div class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="widget">
          <h5 class="text-uppercase fw-bold">About Us</h5>
          <p class="mt-3">Connecting buyers and sellers with their dream properties in Kozhikode, Kerala, since 2025.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="widget">
          <h5 class="text-uppercase fw-bold">Navigation</h5>
          <div class="mt-3">
            <ul class="list-unstyled float-start links">
              <li>
                <a href="{% url 'listings:about' %}">About us</a>
              </li>
              <li>
                <a href="{% url 'listings:services' %}">Services</a>
              </li>
              <li>
                <a href="{% url 'listings:vision' %}">Vision</a>
              </li>
              <li>
                <a href="{% url 'listings:mission' %}">Mission</a>
              </li>
              <li>
                <a href="{% url 'listings:terms' %}">Terms</a>
              </li>
              <li>
                <a href="{% url 'listings:privacy' %}">Privacy</a>
              </li>
            </ul>

            <ul class="list-unstyled float-start links">
              <li>
                <a href="{% url 'listings:partners' %}">Partners</a>
              </li>
              <li>
                <a href="{% url 'listings:business' %}">Business</a>
              </li>
              <li>
                <a href="{% url 'listings:careers' %}">Careers</a>
              </li>
              <li>
                <a href="{% url 'listings:blog' %}">Blog</a>
              </li>
              <li>
                <a href="{% url 'listings:faq' %}">FAQ</a>
              </li>
              <li>
                <a href="{% url 'listings:contact_admin' %}">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="widget">
          <h5 class="text-uppercase fw-bold">Contact</h5>
          <div class="mt-3">
            <address>Kozhikode, Kerala, India</address>
            <ul class="list-unstyled links">
              <li>
                <a href="tel://+918838279668">+91 8838 279 668</a>
              </li>
              <li>
                <a href="mailto:regalroofs.realestate@gmail.com">regalroofs.realestate@gmail.com</a>
              </li>
            </ul>
            <ul class="list-unstyled social">
              <li>
                <a href="https://instagram.com"><span class="icon-instagram"></span></a>
              </li>
              <li>
                <a href="https://twitter.com"><span class="icon-twitter"></span></a>
              </li>
              <li>
                <a href="https://facebook.com"><span class="icon-facebook"></span></a>
              </li>
              <li>
                <a href="https://linkedin.com"><span class="icon-linkedin"></span></a>
              </li>
              <li>
                <a href="https://pinterest.com"><span class="icon-pinterest"></span></a>
              </li>
              <li>
                <a href="https://dribbble.com"><span class="icon-dribbble"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 text-center">
        <p>
          Copyright ©<script>
                       document.write(new Date().getFullYear())
                     </script>. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</div>
